<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
    <property name="show_sql">true</property>
    <mapping resource="com/development/model/User.hbm.xml"/>
    <mapping resource="com/development/model/Registration.hbm.xml"/>
    <mapping resource="com/development/model/Admin.hbm.xml"/>
    <mapping resource="com/development/model/Notification.hbm.xml"/>
    <mapping resource="com/development/model/Archived_user.hbm.xml"/>
    <mapping resource="com/development/model/About_us.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
